<div data-purplecoat="shiori" data-purplecoat-label="sidebar.html">

  <div class="sidebar-offcanvas">
    <div id="main-sidebar" class="widget-area" role="complementary">
      <aside id="masthead" class="widget hgroup">
        <h1 class="site-title display-title"><a href="https://epstomai.github.io/" title="广重36号" rel="home"><span itemprop="name">广重36号</span></a></h1>
        <h2 itemprop="description" class="site-description">窗外的风景色</h2>
      </aside>
      <aside id="site-navigation" class="widget hgroup">
            <a href="/blog">日志</a>
      </aside>
      <aside id="site-navigation" class="widget hgroup">
            <a href="/write-an-archive">Post!</a>
      </aside>
      <aside id="recent-posts-2" class="widget widget_recent_entries hgroup">
        <h3 class="widget-title">近期文章</h3>
        <ul>
          {% for post in site.posts limit:5 %}
          <li>
            <a href="{{ post.url | prepend:site.baseurl}}" class="recent_entries">{{ post.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </aside>
      
    </div>
  </div>

</div>